<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.pism.phoenix.core.mapper.PmnxFormMapper">
    <resultMap id="BaseResultMap" type="cn.com.pism.phoenix.core.entity.PmnxForm">
        <!--@mbg.generated-->
        <!--@Table pmnx_form-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="form_id" jdbcType="VARCHAR" property="formId"/>
        <result column="field_id" jdbcType="VARCHAR" property="fieldId"/>
        <result column="field_value" jdbcType="LONGVARCHAR" property="fieldValue"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="dlt" jdbcType="BIT" property="dlt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        form_id,
        field_id,
        field_value,
        create_by,
        update_by,
        create_time,
        update_time,
        dlt
    </sql>
</mapper>