<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.pism.phoenix.core.mapper.PmnxResourceMapper">
    <resultMap id="BaseResultMap" type="cn.com.pism.phoenix.core.entity.PmnxResource">
        <!--@mbg.generated-->
        <!--@Table pmnx_resource-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="resource_code" jdbcType="VARCHAR" property="resourceCode"/>
        <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
        <result column="resource_type" jdbcType="VARCHAR" property="resourceType"/>
        <result column="resource_content" jdbcType="VARCHAR" property="resourceContent"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="dlt" jdbcType="BIT" property="dlt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        resource_code,
        resource_name,
        resource_type,
        resource_content,
        parent_id,
        sort,
        enabled,
        create_by,
        update_by,
        create_time,
        update_time,
        dlt
    </sql>

    <select id="getResourceCode" resultType="cn.com.pism.phoenix.models.bo.security.PmnxSecurityResourceCodeBo">
        SELECT resource_content AS `resource`, resource_code AS `code`
        FROM pmnx_resource
        WHERE dlt = 0
          AND resource_content IS NOT NULL
    </select>
</mapper>