<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.pism.phoenix.core.mapper.PmnxUserMapper">
    <resultMap id="BaseResultMap" type="cn.com.pism.phoenix.core.entity.PmnxUser">
        <!--@mbg.generated-->
        <!--@Table pmnx_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="delete_time" jdbcType="BIGINT" property="deleteTime"/>
        <result column="delete_by" jdbcType="BIGINT" property="deleteBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        account,
        nickname,
        real_name,
        avatar_url,
        gender,
        email,
        mobile,
        `status`,
        create_time,
        create_by,
        update_time,
        update_by,
        deleted,
        delete_time,
        delete_by
    </sql>

    <select id="getPasswordByAccount" resultType="java.lang.String">
        SELECT password
        FROM pmnx_user
        WHERE account = #{account}
    </select>

    <select id="page" resultType="cn.com.pism.phoenix.models.vo.user.resp.PmnxUserPageRespVo">
        SELECT id,
               account,
               nickname,
               real_name,
               avatar_url,
               gender,
               email,
               status,
               create_time
        FROM pmnx_user
        WHERE deleted = 0
        <if test="param.keyWord != null and param.keyWord != ''">
            AND (
                INSTR(email, #{param.keyWord})
                    OR
                INSTR(account, #{param.keyWord})
                )
        </if>

        ORDER BY create_time DESC
    </select>

    <update id="updateUserPasswordById">
        UPDATE pmnx_user
        SET password = #{password}
        WHERE id = #{id}
    </update>
</mapper>